.circle {
  $dim: 65px;
  $self: &;
  width: $dim;
  height: $dim;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: calc(-#{$dim} / 2);
  margin-top: calc(-#{$dim} / 2);
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;

  &__content {
    background-color: #fff;
    transform-origin: center;
    border-radius: 50%;
    width: $dim;
    height: $dim;
    transition: 0.25s ease;
    transform: scale(0.154);
  }

  &.scale {
    mix-blend-mode: none;
    #{$self}__content {
      // background-color: rgba(232, 41, 59, 0.15);
      // box-shadow: 0 0 30px rgba(232, 41, 59, 0.8);
      background-color: rgba(0, 247, 182, 0.15);
      box-shadow: 0 0 30px rgba(0, 247, 182, 0.8);
      transform: scale(1);
    }
  }

  &.color-change .circle__content {
    background-color: burlywood;
  }

  @media all and (max-width: 768px) {
    display: none;
  }
}

.is-ie .circle {
  display: none;
}
body {
  @media all and (min-width: 768px) {
    &,
    .pointer,
    a,
    label,
    button {
      cursor: none !important;
    }
    &.is-ie {
      &,
      .pointer,
      a,
      label,
      button {
        cursor: auto !important;
      }
    }
  }
}

.test {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 200px;
  height: 130px;
  background-color: firebrick;
}

.test2 {
  left: 50%;
}
