//main: ../index.scss

.goo-main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  filter: url('#goo');
  overflow: hidden;
  mix-blend-mode: screen;
  pointer-events: none;

  > svg {
    display: none;
  }

  > div {
    pointer-events: none;
    position: absolute;
    will-change: transform;
    border-radius: 50%;
    background: $color-red;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 0.6;
    width: 120px;
    height: 120px;

    &:nth-child(2) {
      width: 200px;
      height: 200px;
    }

    &:nth-child(3) {
      width: 150px;
      height: 150px;
    }
    &:nth-child(4) {
      width: 70px;
      height: 70px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: rgba(155, 122, 122, 0.7);
    }
    &:nth-child(2)::after {
      top: 70px;
      left: 70px;
      width: 70px;
      height: 70px;
    }
    &:nth-child(3)::after {
      top: 50px;
      left: 50px;
      width: 50px;
      height: 50px;
    }
  }
}
