// main: ../index.scss

html {
  font-size: 16px;

  @include respond-to($medium) {
    font-size: calc(16px + 0.1vw);
  }

  @include respond-to($extra-large) {
    font-size: 17px;
  }

  // background-color: $color-primary;
}

body {
  margin: 0;
  padding: 0;
  @include font-one;
  @include font-render;
  font-size: 17px;
  color: $color-dark;

  &.no-webkit.noscroll {
    padding-right: 17px;
  }
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    transition: 0.3s;
    box-sizing: border-box;
  }
}

@include selection() {
  color: $selection-color;
  background-color: $color-turquaz;
}

.pointer {
  cursor: pointer;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.fh-v {
  height: 100vh;
}

.bg-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.uppercase {
  text-transform: uppercase !important;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.form-group {
  margin-bottom: 1rem;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.container-big {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  padding-right: 30px;
  padding-left: 30px;
}
